.searchbox {
    border: 1px solid #ccc;
    border-radius: 20px; 
  }
  
  .searchbox input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
  }
  
  .searchbox .reset,
  .searchbox .search {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .searchbox .search {
    margin-left: 5px;
  }
  
  .searchbox .search-icon {
    margin-right: 5px;
  }
  
  .results {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 20px 20px; 
  }
  
  .name {
    font-weight: bold;
  }
  
  .price {
    color: #070202;
  }



 
  